<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    {%- block main %}
    <p>There is no content</p>
    {%- endblock %}
  </body>
</html>