<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ block "title" . }}
      {{- .Site.Title -}}
    {{ end }}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        {{- range $sect := .Site.Params.mainSections }}
        <li>
          <a href="/{{ $sect }}/">{{ $sect | title }}</a>
        </li>
        {{- end }}
      </ul>
    </nav>
    <main>
      {{- block "main" . }}
      <p>There is no content</p>
      {{ end -}}
    </main>
  </body>
</html>
