<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ block "title" . }}
      {{- .Site.Title -}}
    {{ end }}</title>
    {{ $baseStyles := resources.Get "css/base.css" | minify }}
    <link rel="stylesheet" href="{{ $baseStyles.Permalink }}" />
    {{ block "includes" .}}{{ end }}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          {{- range $sect := .Site.Params.mainSections }}
          <li>
            <a href="/{{ $sect }}/">{{ $sect | title }}</a>
          </li>
          {{- end }}
        </ul>
      </nav>
    </header>
    <main>
      {{- block "main" . }}
      <p>There is no content</p>
      {{ end -}}
    </main>
    <footer>(c) Drew Kilb</footer>
  </body>
</html>
