main {
  align-self: center;
  line-height: 1.75;
  max-width: 50em;
  padding: 1em;
  width: 100%;
}

pre {
  overflow-x: auto;
  margin-top: 0;
  padding: 1rem 1.5rem;
}

.highlight {
  overflow-x: hidden;
}

figure {
  background-color: hsl(0, 0%, 90%);
  border-radius: 0.5rem;
  padding: 0.1rem 1rem;
}

figcaption {
  display: flex;
  flex-direction: column;
}

figcaption p {
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0.75rem 0;
  text-align: center;
}

figcaption dl {
  align-items: baseline;
  background-color: hsla(0, 0%, 100%, 0.5);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 1rem;
}

dt {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
}

dt::after {
  content: ":";
}

dd {
  flex-grow: 2;
  margin: 0 0 0 1rem;
}
