:root {
  /* Color Definitions */
  --gray-80: hsl(0, 0%, 15%);
  --gray-40: hsl(50, 11%, 41%);
  --hot-pink: hsl(338, 95%, 56%);
  --yellow: hsl(54, 70%, 68%);
  --light-blue: hsl(190, 81%, 67%);
  --bright-green: hsl(80, 76%, 53%);
  --purple: hsl(261, 100%, 75%);
  /* Color Intent Definitions */
  --color-code-bg: var(--gray-80);
  --color-comments: var(--gray-40);
  --color-keywords: var(--light-blue);
  --color-literals: var(--purple);
  --color-names: var(--bright-green);
  --color-operators: var(--hot-pink);
  --color-strings: var(--yellow);
}
/* Background */ .chroma { color: #f8f8f2; background-color: var(--color-code-bg) }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: var(--color-keywords) }
/* KeywordConstant */ .chroma .kc { color: var(--color-keywords) }
/* KeywordDeclaration */ .chroma .kd { color: var(--color-keywords) }
/* KeywordNamespace */ .chroma .kn { color: var(--color-operators) }
/* KeywordPseudo */ .chroma .kp { color: var(--color-keywords) }
/* KeywordReserved */ .chroma .kr { color: var(--color-keywords) }
/* KeywordType */ .chroma .kt { color: var(--color-keywords) }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: var(--color-names) }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: var(--color-names) }
/* NameConstant */ .chroma .no { color: var(--color-keywords) }
/* NameDecorator */ .chroma .nd { color: var(--color-names) }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: var(--color-names) }
/* NameFunction */ .chroma .nf { color: var(--color-names) }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: var(--color-names) }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: var(--color-operators) }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: var(--color-literals) }
/* LiteralDate */ .chroma .ld { color: var(--color-strings) }
/* LiteralString */ .chroma .s { color: var(--color-strings) }
/* LiteralStringAffix */ .chroma .sa { color: var(--color-strings) }
/* LiteralStringBacktick */ .chroma .sb { color: var(--color-strings) }
/* LiteralStringChar */ .chroma .sc { color: var(--color-strings) }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--color-strings) }
/* LiteralStringDoc */ .chroma .sd { color: var(--color-strings) }
/* LiteralStringDouble */ .chroma .s2 { color: var(--color-strings) }
/* LiteralStringEscape */ .chroma .se { color: var(--color-literals) }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--color-strings) }
/* LiteralStringInterpol */ .chroma .si { color: var(--color-strings) }
/* LiteralStringOther */ .chroma .sx { color: var(--color-strings) }
/* LiteralStringRegex */ .chroma .sr { color: var(--color-strings) }
/* LiteralStringSingle */ .chroma .s1 { color: var(--color-strings) }
/* LiteralStringSymbol */ .chroma .ss { color: var(--color-strings) }
/* LiteralNumber */ .chroma .m { color: var(--color-literals) }
/* LiteralNumberBin */ .chroma .mb { color: var(--color-literals) }
/* LiteralNumberFloat */ .chroma .mf { color: var(--color-literals) }
/* LiteralNumberHex */ .chroma .mh { color: var(--color-literals) }
/* LiteralNumberInteger */ .chroma .mi { color: var(--color-literals) }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--color-literals) }
/* LiteralNumberOct */ .chroma .mo { color: var(--color-literals) }
/* Operator */ .chroma .o { color: var(--color-operators) }
/* OperatorWord */ .chroma .ow { color: var(--color-operators) }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: var(--color-comments) }
/* CommentHashbang */ .chroma .ch { color: var(--color-comments) }
/* CommentMultiline */ .chroma .cm { color: var(--color-comments) }
/* CommentSingle */ .chroma .c1 { color: var(--color-comments) }
/* CommentSpecial */ .chroma .cs { color: var(--color-comments) }
/* CommentPreproc */ .chroma .cp { color: var(--color-comments) }
/* CommentPreprocFile */ .chroma .cpf { color: var(--color-comments) }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: var(--color-operators) }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: var(--color-names) }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: var(--color-comments) }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
